# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# SQLite Database
# ==========================
*.sqlite3

# ==========================
# Static Files
# ==========================
staticfiles/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db