# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Static & Media
staticfiles/
media/

# Python build files
*.egg-info/
dist/
build/

# Node (for React later)
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db